.stack-work
*.Rproj
.Rproj.user
.Rhistory
tests_XLSXfiles
haskell-ghc-mod.json
*.json
*.xlsx
dist
src/ReadXLSX/SheetToDataframeString.hs
src/WriteXLSX/DataframeToSheetString.hs
src/ReadXLSX/ReadCommentsDraft.hs
ztemp.hs
*.dll
*.dll.a
*.so
*.o
*.a
